::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.contactSection {
  background-size: 500px;
  width: 700px;
}

h1 {
  color: rgb(212, 194, 216);
  font-weight: bold;
}

h2 {
  color: rgb(212, 194, 216);
  font-weight: bold;
  text-decoration-line: underline;
}

button:disabled,
button[disabled]{
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
