<div class="example-container">
  <h1>AGENDA</h1>
  <form id="personForm" [formGroup]="personForm" (ngSubmit)="addContact()">

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" maxlength="9">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" style="width: 200px;">
        <mat-label>Birthday</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Favourite Color</mat-label>
        <input matInput formControlName="favColor">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
          <mat-option value="Unspecified">Unspecified</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="accent" type="submit" [disabled]="personForm.invalid">Submit</button>
    </div>

  </form>

</div>

<br>

<div class="contactSection">

  <h2>Contacts</h2>
    <mat-card class="card-list">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item
            *ngFor="let personForm of contactList; let i = index; last as last">
            <div class="content-list">
              <mat-accordion>
                <mat-expansion-panel hideToggle="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: 22px; color: #4A002A">
                      <p mat-line class="p" style="font-weight: bold;">Contact {{ i + 1 }}</p>
                      <button mat-icon-button (click)="editContact(i)">
                        <mat-icon matListIcon class="edit">edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="removeContact(i)">
                        <mat-icon matListIcon class="delete">delete</mat-icon>
                      </button>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <p mat-line class="p"><strong>Name: </strong>{{ personForm.name }}</p>
                    <p mat-line class="p"><strong>Last Name: </strong>{{ personForm.lastName }}</p>
                    <p mat-line class="p"><strong>Age: </strong>: {{ personForm.age }}</p>
                    <p mat-line class="p"><strong>DNI: </strong>: {{ personForm.dni }}</p>
                    <p mat-line class="p"><strong>Birthday: </strong>: {{ personForm.birthday }}</p>
                    <p mat-line class="p"><strong>Favourite Color: </strong>: {{ personForm.favColor }}</p>
                    <p mat-line class="p"><strong>Gender: </strong>: {{ personForm.gender }}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div>
