h1 {
    text-align: center;
    text-shadow: 1px 1px 2px yellow;
    color: blue;
}

legend {
    background-color: red;
    color: white;
}

fieldset {
    background-color: aqua;
    font-weight: bold;
}

input[type="text"], textarea {

    background-color : yellow; 
  
  }

button {
    white-space: normal;
    width: 100px;
    background-color: pink;
    border-radius: 8px;
}

.black {
    background-color: black;
}