::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  color: black;
}

.userSection {
  background-size: 500px;
  width: 700px;
}

h1 {
  color: black;
  font-weight: bold;
}

h2 {
  color: black;
  font-weight: bold;
}

button:disabled,
button[disabled]{
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.mat-icon{
  height: 20px !important;
  width: 20px !important;
  font-size: 20px !important;
}
