<div class="example-container">
  <h1>GYM Users</h1>
  <form id="user" [formGroup]="user" (ngSubmit)="addUser()">

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>User ID</mat-label>
        <input id="userID" matInput formControlName="userID" type="number">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" maxlength="9">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fillColor="accent">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" type="number">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="accent" type="submit" [disabled]="user.invalid">Submit</button>
    </div>

  </form>

</div>

<br>

<div class="userSection">

  <h2>User List</h2>
    <mat-card class="card-list">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item
            *ngFor="let user of userList; let i = index; last as last">
            <div class="content-list">
              <mat-accordion>
                <mat-expansion-panel hideToggle="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: 20px; color: black">
                      <p mat-line class="p" style="font-weight: bold; margin: auto;">User: {{ user.userID }}</p>
                      <button mat-icon-button (click)="editUser(i)">
                        <mat-icon matListIcon class="edit" style="color: purple;">edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="removeUser(i)">
                        <mat-icon matListIcon class="delete" style="color: red;">delete</mat-icon>
                      </button>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <p mat-line class="p"><strong>Name: </strong>{{ user.name }}</p>
                    <p mat-line class="p"><strong>Last Name: </strong>{{ user.lastName }}</p>
                    <p mat-line class="p"><strong>User ID: </strong>: {{ user.userID }}</p>
                    <p mat-line class="p"><strong>DNI: </strong>: {{ user.dni }}</p>
                    <p mat-line class="p"><strong>Phone: </strong>: {{ user.phone }}</p>
                    <p mat-line class="p"><strong>Gender: </strong>: {{ user.gender }}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div>

